<header class="header">
    <div class="header-content">
        <!-- <img src="/list 1.png" alt="logo"> -->
        <div class="header-logo">
            <a href="/">ToDo</a>
        </div>
        <div class="header-navbar">
            <a href="/list_of_cases">Список дел</a>
        </div>
    </div>

    <div class="enter">
        <a href="/login">Войти</a>
    </div>
</header>