<main class="body">

    <div class="container">
        <img src="/Vector.png" alt="vector">

        <h1 class="container-h1">
            Планируйте свою работу <br> уже сейчас.
        </h1>

        <div class="line"></div>

        <h2 class="container-h2">Создайте свой первый список дел, здесь
            вы можете организовать свою работу в любое время
        </h2>

        <button class="container-button">
            <a href="/login">Начать</a>
        </button>
    </div>

</main>