<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/list-of-cases.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/registration.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;1,100;1,400&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <div class="header-content">
            <!-- <img src="/list 1.png" alt="logo"> -->
            <div class="header-logo">ToDo</div>
            <div class="header-navbar">Список дел</div>
        </div>

        <div class="enter">
            <a>Войти</a>
        </div>
    </header>

    <main>
        <div class="container">
            <img src="../img/Vector.png" alt="vector">

            <h1 class="container-h1">
                Планируйте свою работу <br> уже сейчас.
            </h1>

            <div class="line"></div>

            <h2 class="container-h2">Создайте свой первый список дел, здесь
                вы можете организовать свою работу в любое время
            </h2>

            <button class="container-button">Начать</button>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <!-- <img src="/list 1.png" alt="logo"> -->
            <div class="footer-logo">ToDo</div>
        </div>
    </footer>
</body>

</html>