<main class="main-new-card">
    <div class="new-card">
        <div class="name-card">Название карточки</div>

        <div class="content-card">
            <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment_1"
                    placeholder="Задача 1"></textarea>
            </p>

            <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment_2"
                    placeholder="Задача 2"></textarea>
            </p>

            <div class="add-card">
                <div>
                    <img src="/image 1.png" alt="plus">
                    <span>Добавить карточку</span>
                </div>
            </div>
        </div>
    </div>

    <div class="new-card">
        <div class="name-card">Название карточки</div>

        <div class="content-card">
            <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment_3"
                    placeholder="Задача 1"></textarea>
            </p>

            <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment_4"
                    placeholder="Задача 2"></textarea>
            </p>

            <div class="add-card">
                <div>
                    <img src="/image 3.png" alt="plus" class="pen">
                    <span>Редактировать</span>
                </div>
            </div>
        </div>
    </div>
</main>