<main class="body">
    <div class="login-position">
        <div class="box">
            <h1>Войти</h1>
            <input type="text" placeholder="Логин" />
            <input type="text" placeholder="Пароль" />
            <button>Вход</button>
            <p>
                Первый раз?
                <a href="/regist">Зарегестрироваться</a>
            </p>
        </div>
    </div>
</main>