<main class="body">
    <form action="/api/auth/register" method="POST">
        <div class="login-position">
        <div class="box">
            <h1>Регистрация</h1>
            {{!-- <input type="text" placeholder="Логин" /> --}}
            <input id="email" name="email" type="text" placeholder="Почта" required>
            <input id="password" name="password" type="password" placeholder="Пароль" required>
            <button>Зарегестрироваться</button>
        </div>
    </div>
    </form>
</main>