<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/list-of-cases.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/registration.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;1,100;1,400&display=swap"
        rel="stylesheet">
</head>

<body class="body">
    <main>
        <div class="box">
            <h1>Регистрация</h1>
            <input type="text" placeholder="Логин" />
            <input type="text" placeholder="Пароль" />
            <input type="text" placeholder="Повторить пароль" />
            <button>Зарегестрироваться</button>
        </div>
    </main>
</body>

</html>