<main class="body">
    <div class="login-position">
        <div class="box">
            <h1>Регистрация</h1>
            <input type="text" placeholder="Логин" />
            <input type="text" placeholder="Пароль" />
            <input type="text" placeholder="Повторить пароль" />
            <button>Зарегестрироваться</button>
        </div>
    </div>
</main>