.box {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.13);
    padding: 30px 0px;
}

.box h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.05);
    color: #fff;
    border: 0;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
}

.box button {
    background: #D5B2CA;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.box button:active {
    background: #9d8495;
}

.box p {
    font-size: 14px;
    text-align: center;
}

.box p span {
    cursor: pointer;
    color: #666;
}